In [1]:
import pandas as pd
import re
import io

In [2]:
data = pd.read_csv('/Users/halukamaier-borst/Documents/CardiffUniversity/Master Thesis/CorEA Corpus/CorEA-message-level_clean2.csv', sep='\t',quotechar="'", 
                  engine='python')
print(data.head(5))

   #0Mid     1Pid           2Pname    3type  4under  \
0  18006   170073           Jazz65  comment       4
1  18031  2410677  Lettore_2410677  comment       4
2  18086  3444552          ookuboo  comment       4
3  18087  9044923  Lettore_9044923  comment       4
4  18106  9049303  Lettore_9049303  comment       4

                         5manual-topics  \
0                  azienda  burocrazia
1                                   NaN
2                dirigenti  PD  Italia
3   burocrazia  servizi  posti  lavoro
4                                   NaN

                                               6text           7timestamp  \
0  Vanno fatti gli esempi, altrimenti sembra semp...  14/07/2013 09:09:42
1   La ragnatela del non fare e riscuotere mazzette.  14/07/2013 09:16:03
2  "concordo al 100% con questo articolo; Sig. Pa...  14/07/2013 09:31:19
3  fino a quando tutti i soggetti che vivono d'im...  14/07/2013 09:32:30
4  Tristemente soddisfatto giacche Ã¨ da tempo che...  14/07/2013 09:37:36

  8category 9refer-to-Pname       ...         16Pinterests 17Ptotal_views  \
0  politics             NaN       ...                    1              9
1  politics             NaN       ...                    0              0
2  politics             NaN       ...                    0              0
3  politics             NaN       ...                    0              0
4  politics             NaN       ...                    0              0

   18Ptotal_comments  19Ptotal_shares  20Ptotal_comments_votes 21Emo_indig  \
0                 53               32                       40           7
1                128                1                       44          28
2               2240                1                     2748          33
3                  6                0                        1          42
4                 11                0                        0          66

   22Emo_disapp  23Emo_worried  24Emo_amused  25Emo_satisfied
0            16             30            22               22
1            28             28            14                0
2             0              0            33               33
3            28              0            28                0
4             0              0             0               33

[5 rows x 26 columns]

In [3]:
dotcountlist=[]
commacountlist=[]
exclamationcountlist=[]
wordcountlist=[]
uppercasecountlist=[]
lowercasecountlist=[]
charcountlist=[]
specialcharlist=[]
numbercountlist=[]
uniquewordlist=[]
qmarkcountlist=[]
apicescountlist=[]
quotescountlist=[]
openparlist=[]
closeparlist=[]
operatorlist=[]
hashtagcountlist=[]
dottycountlist=[]
linkcountlist=[]
charperwordarray=[]

word1=[]
word2=[]
word3=[]
word4=[]
word5=[]
word6=[]
word7=[]
word8=[]
word9=[]
word10=[]
word11=[]
word12=[]
word13=[]
word14=[]
word15=[]
word16=[]
word17=[]
word18=[]
word19=[]
word20=[]
word21=[]
word22=[]
word23=[]
word24=[]

a=0
#for each cell in the text column of data

for cell in (data['6text']):
    
    a+=1
    dotcount=0
    commacount=0
    qmarkcount=0
    exclamationcount=0
    wordcount=0
    uppercasecount=0
    lowercasecount=0
    charcount=0
    lr_classifier=0
    specialchar=0
    numbercount=0
    cellwordlist=[]
    uniqueword=0
    qmarkcount=0
    apicescount=0
    quotescount=0
    openparcount=0
    closeparcount=0
    operatorcount=0
    hashtagcount=0
    dottycount=0
    linkcount=0


    dotcount=cell.count(".")
    commacount=cell.count(",")
    exclamationcount=cell.count("!")
    qmarkcount=cell.count("?")
    apicescount=cell.count("'")
    quotescount=cell.count('"')
    openparcount=cell.count('(')
    closeparcount=cell.count(')')
    hashtagcount=cell.count('#')

    
    if a>10000:
        break
    else:

        #for reach word in cell
        charperwordlist=[]
        for word in (cell.split()):
            if word in cellwordlist:
                continue
            else:
                cellwordlist.append(word)
                uniqueword+=1
            if re.search('\.\.\.',word):
                dottycount+=1
            if re.search('http',word):
                linkcount+=1
                
                
            wordcount+=1
            uppercaseword=word[1:]
            for c in uppercaseword:
                if c.istitle():
                    uppercasecount+=1
                    #print(word)
                    
            #print(word)
            charperword=0
            for char in word:
                charperword+=1
                charcount+=1
                if re.match("[^a-zA-Z0-9]", char):
                    specialchar+=1
                if re.match("[0-9]", char):
                    numbercount+=1
                if char.islower():
                    lowercasecount+=1
                if re.match("[\+\/\-\*\%\=<>&]", char):
                    operatorcount+=1
            #print(charperword)
            charperwordlist.append(charperword)
            #print(charperwordlist)
        
        word1.append(charperwordlist.count(1))
        word2.append(charperwordlist.count(2))
        word3.append(charperwordlist.count(3))
        word4.append(charperwordlist.count(4))
        word5.append(charperwordlist.count(5))
        word6.append(charperwordlist.count(6))
        word7.append(charperwordlist.count(7))
        word8.append(charperwordlist.count(8))
        word9.append(charperwordlist.count(9))
        word10.append(charperwordlist.count(10))
        word11.append(charperwordlist.count(11))
        word12.append(charperwordlist.count(12))
        word13.append(charperwordlist.count(13))
        word14.append(charperwordlist.count(14))
        word15.append(charperwordlist.count(15))
        word16.append(charperwordlist.count(16))
        word17.append(charperwordlist.count(17))
        word18.append(charperwordlist.count(18))
        word19.append(charperwordlist.count(19))
        word20.append(charperwordlist.count(20))
        word21.append(charperwordlist.count(21))
        word22.append(charperwordlist.count(22))
        word23.append(charperwordlist.count(23))
        word24.append(charperwordlist.count(24))
        #print(cell)
        #print("Dotcount: " + str((dotcount)))
        #print("Commacount: "+ str(commacount))
        #print("Exclamationcount: "+ str(exclamationcount))
        #print("Wordcount: "+ str(wordcount))
        #print("Uppercasecount "+ str(uppercasecount))
        #print("Charcount "+ str(charcount))
        dotcountlist.append(dotcount)
        commacountlist.append(commacount)
        exclamationcountlist.append(exclamationcount)
        wordcountlist.append(wordcount)
        uppercasecountlist.append(uppercasecount)
        lowercasecountlist.append(lowercasecount)
        charcountlist.append(charcount)
        specialcharlist.append(specialchar)
        numbercountlist.append(numbercount)
        uniquewordlist.append(uniqueword)
        qmarkcountlist.append(qmarkcount)
        apicescountlist.append(apicescount)
        quotescountlist.append(quotescount)
        openparlist.append(openparcount)
        closeparlist.append(closeparcount)
        operatorlist.append(operatorcount)
        hashtagcountlist.append(hashtagcount)
        dottycountlist.append(dottycount)
        linkcountlist.append(linkcount)

row1=pd.DataFrame()
row1["Dotcount"]=dotcountlist
row2=pd.DataFrame()
row2["Commacount"]=commacountlist
row3=pd.DataFrame()
row3["Exclcount"]=exclamationcountlist
row4=pd.DataFrame()
row4["Wordcount"]=wordcountlist
row5=pd.DataFrame()
row5["Uppercasecount"]=uppercasecountlist
row6=pd.DataFrame()
row6["Lowercasecount"]=lowercasecountlist
row7=pd.DataFrame()
row7["Specialchar"]=specialcharlist
row8=pd.DataFrame()
row8["Numbercount"]=numbercountlist
row9=pd.DataFrame()
row9["Charcount"]=charcountlist
row10=pd.DataFrame()
row10["Uniquewords"]=uniquewordlist
row11=pd.DataFrame()
row11["Qmarkcount"]=qmarkcountlist
row11=pd.DataFrame()
row11["Apicescount"]=apicescountlist
row12=pd.DataFrame()
row12["Quotescount"]=quotescountlist
row13=pd.DataFrame()
row13["Openpar"]=openparlist
row14=pd.DataFrame()
row14["Closepar"]=closeparlist
row15=pd.DataFrame()
row15["Operatorcount"]=operatorlist
row16=pd.DataFrame()
row16["Hashtagcount"]=hashtagcountlist
row17=pd.DataFrame()
row17["Dottycount"]=dottycountlist
row18=pd.DataFrame()
row18["Linkcount"]=linkcountlist

output=pd.concat([data, row1, row2, row3, row4, row5, row6, row7, row8, row9, row10, row11, row12, row13, row14, row15, row16, row17, row18],axis=1)
output.to_csv('ItaloStylo_raw.csv', encoding='utf-8')

In [4]:
output.head(5)

,#0Mid,1Pid,2Pname,3type,4under,5manual-topics,6text,7timestamp,8category,9refer-to-Pname,...,Charcount,Uniquewords,Apicescount,Quotescount,Openpar,Closepar,Operatorcount,Hashtagcount,Dottycount,Linkcount
0,18006,170073,Jazz65,comment,4,azienda burocrazia,"Vanno fatti gli esempi, altrimenti sembra semp...",14/07/2013 09:09:42,politics,NaN,...,440,80,0,0,0,0,0,0,0,0
1,18031,2410677,Lettore_2410677,comment,4,NaN,La ragnatela del non fare e riscuotere mazzette.,14/07/2013 09:16:03,politics,NaN,...,41,8,0,0,0,0,0,0,0,0
2,18086,3444552,ookuboo,comment,4,dirigenti PD Italia,"""concordo al 100% con questo articolo; Sig. Pa...",14/07/2013 09:31:19,politics,NaN,...,739,128,2,6,0,0,1,0,0,0
3,18087,9044923,Lettore_9044923,comment,4,burocrazia servizi posti lavoro,fino a quando tutti i soggetti che vivono d'im...,14/07/2013 09:32:30,politics,NaN,...,468,77,2,0,1,1,0,0,0,0
4,18106,9049303,Lettore_9049303,comment,4,NaN,Tristemente soddisfatto giacche Ã¨ da tempo che...,14/07/2013 09:37:36,politics,NaN,...,111,21,0,0,0,0,0,0,1,0

In [5]:
rowpd1=pd.DataFrame()
rowpd1['word01']=word1
rowpd2=pd.DataFrame()
rowpd2['word02']=word2
rowpd3=pd.DataFrame()
rowpd3['word03']=word3
rowpd4=pd.DataFrame()
rowpd4['word04']=word4
rowpd5=pd.DataFrame()
rowpd5['word05']=word5
rowpd6=pd.DataFrame()
rowpd6['word06']=word6
rowpd7=pd.DataFrame()
rowpd7['word07']=word7
rowpd8=pd.DataFrame()
rowpd8['word08']=word8
rowpd9=pd.DataFrame()
rowpd9['word09']=word9
rowpd10=pd.DataFrame()
rowpd10['word10']=word10
rowpd11=pd.DataFrame()
rowpd11['word11']=word11
rowpd12=pd.DataFrame()
rowpd12['word12']=word12
rowpd13=pd.DataFrame()
rowpd13['word13']=word13
rowpd14=pd.DataFrame()
rowpd14['word14']=word14
rowpd15=pd.DataFrame()
rowpd15['word15']=word15
rowpd16=pd.DataFrame()
rowpd16['word16']=word16
rowpd17=pd.DataFrame()
rowpd17['word17']=word17
rowpd18=pd.DataFrame()
rowpd18['word18']=word18


output2=pd.concat([rowpd1, rowpd2, rowpd3, rowpd4, rowpd5, rowpd6, rowpd7, rowpd8, rowpd9, rowpd10, rowpd11, rowpd12, rowpd13, rowpd14, rowpd15, rowpd16, rowpd17, rowpd18],axis=1)
output2.to_csv('ItaloStylo_raw2.csv', encoding='utf-8')
output2.head()

,word01,word02,word03,word04,word05,word06,word07,word08,word09,word10,word11,word12,word13,word14,word15,word16,word17,word18
0,4,8,11,8,9,15,7,5,7,3,2,0,0,0,0,1,0,0
1,1,1,2,1,0,0,0,0,2,1,0,0,0,0,0,0,0,0
2,4,14,19,15,13,13,11,14,9,7,3,4,2,0,0,0,0,0
3,3,7,10,9,7,14,5,3,5,5,4,1,1,2,1,0,0,0
4,3,3,1,3,2,2,1,2,0,2,2,0,0,0,0,0,0,0

In [45]:
#data=pd.concat([output, output2],axis=1)
#data.head()

In [46]:
#data = pd.read_csv('/Users/halukamaier-borst/Documents/CardiffUniversity/Master Thesis/masterthesis_code/ItaloStylo_raw.csv',quotechar='"')
#print(data.head(5))

In [6]:
data=output
datareduced1=data.ix[:, 27:]
datareduced2=data.ix[:, 14]
datareduced=pd.concat([datareduced1,datareduced2],axis=1)
print(datareduced.head(5))
datareduced.to_csv('ItaloVectors.csv', encoding='utf-8',index=False)

   Commacount  Exclcount  Wordcount  Uppercasecount  Lowercasecount  \
0           9          0         80               0             422
1           0          0          8               0              39
2          16          0        128              10             680
3           2          0         77              22             425
4           1          1         21               0             103

   Specialchar  Numbercount  Charcount  Uniquewords  Apicescount  Quotescount  \
0           18            0        440           80            0            0
1            1            0         41            8            0            0
2           35            3        739          128            2            6
3           15            0        468           77            2            0
4            8            0        111           21            0            0

   Openpar  Closepar  Operatorcount  Hashtagcount  Dottycount  Linkcount  \
0        0         0              0             0           0          0
1        0         0              0             0           0          0
2        0         0              1             0           0          0
3        1         1              0             0           0          0
4        0         0              0             0           1          0

   14agree-disagree
0               NaN
1               1.0
2               1.0
3               1.0
4               1.0

In [7]:
datareduced.describe()

,Commacount,Exclcount,Wordcount,Uppercasecount,Lowercasecount,Specialchar,Numbercount,Charcount,Uniquewords,Apicescount,Quotescount,Openpar,Closepar,Operatorcount,Hashtagcount,Dottycount,Linkcount,14agree-disagree
count,2875.000000,2875.000000,2875.000000,2875.000000,2875.000000,2875.000000,2875.000000,2875.000000,2875.000000,2875.000000,2875.000000,2875.000000,2875.000000,2875.000000,2875.000000,2875.000000,2875.0,2157.000000
mean,2.320348,0.555826,38.816348,2.207304,203.219826,12.643826,1.773217,221.924174,38.816348,1.125565,1.015652,0.275130,0.296000,0.706435,0.385391,0.402087,0.0,-0.100139
std,3.335557,1.751209,35.029459,7.219167,204.370590,13.752349,4.054008,221.471397,35.029459,1.920449,2.733481,0.702756,0.770251,1.948380,1.333810,0.825226,0.0,0.940328
min,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,-1.000000
25%,0.000000,0.000000,15.000000,0.000000,70.000000,4.000000,0.000000,79.000000,15.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,-1.000000
50%,1.000000,0.000000,28.000000,0.000000,138.000000,8.000000,0.000000,151.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
75%,3.000000,0.000000,51.000000,2.000000,261.500000,16.000000,2.000000,284.000000,51.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.0,1.000000
max,39.000000,38.000000,363.000000,136.000000,2274.000000,174.000000,48.000000,2538.000000,363.000000,29.000000,26.000000,8.000000,11.000000,36.000000,19.000000,8.000000,0.0,1.000000

In [8]:
new_datareduced=datareduced['14agree-disagree']
c=0
limit=0
for column in datareduced:
    limit+=1
print(limit)
a=-1
for column in datareduced:
    lista=[]
    a+=1
    columnmean=((datareduced.ix[:, a]).mean())/datareduced['Charcount'].mean()
    print(column,":" ,columnmean)
    b=-1
    for index, row in datareduced.iterrows():
        b+=1
        columnval=(datareduced.ix[b, a])
        columnratio=columnval/datareduced.ix[b,8]
        columnREL=(columnratio/columnmean)
        lista.append(columnREL)
    c+=1
    print(c)
    if c>limit:
        print("STOP!")
        new_datareduced.to_csv('NewItaloVectorsREL.csv', encoding='utf-8',index=False)
        break
    else:
        column = pd.DataFrame({(column+"REL") : lista})
        #print(column)
        new_datareduced=pd.concat([ new_datareduced, column], axis=1)
        #print(datareduced)
print("STOP!")

18
Commacount : 0.0104555884344
1
Exclcount : 0.00250457657296
2
Wordcount : 0.174908155077
3
Uppercasecount : 0.0099462095945
4
Lowercasecount : 0.915717393485
5
Specialchar : 0.0569736314166
6
Numbercount : 0.00799019484916
7
Charcount : 1.0
8
Uniquewords : 0.174908155077
9
Apicescount : 0.00507184592622
10
Quotescount : 0.00457657296186
11
Openpar : 0.00123974973042
12
Closepar : 0.00133378890087
13
Operatorcount : 0.0031832259197
14
Hashtagcount : 0.00173659001429
15
Dottycount : 0.00181182135065
16
Linkcount : 0.0

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:18: RuntimeWarning: invalid value encountered in double_scalars

17
14agree-disagree : -0.000451231068219
18
STOP!

In [9]:
new_datareduced.to_csv('NewItaloVectorsREL.csv', encoding='utf-8', index=False)

In [18]:
datamerge=pd.concat([new_datareduced, output2],axis=1)
datamerge.head()

,14agree-disagree,CommacountREL,ExclcountREL,WordcountREL,UppercasecountREL,LowercasecountREL,SpecialcharREL,NumbercountREL,CharcountREL,UniquewordsREL,...,word09,word10,word11,word12,word13,word14,word15,word16,word17,word18
0,NaN,10.759796,0.000000,5.717286,0.000000,5.760511,3.949195,0.000000,5.500000,5.717286,...,7,3,2,0,0,0,0,1,0,0
1,1.0,0.000000,0.000000,5.717286,0.000000,5.323695,2.193997,0.000000,5.125000,5.717286,...,2,1,0,0,0,0,0,0,0,0
2,1.0,11.955329,0.000000,5.717286,7.854751,5.801462,4.799369,2.933283,5.773438,5.717286,...,9,7,3,4,2,0,0,0,0,0
3,1.0,2.484224,0.000000,5.717286,28.725947,6.027493,3.419217,0.000000,6.077922,5.717286,...,5,5,4,1,1,2,1,0,0,0
4,1.0,4.554411,19.012814,5.717286,0.000000,5.356196,6.686468,0.000000,5.285714,5.717286,...,0,2,2,0,0,0,0,0,0,0

In [14]:
AVGcharword=datareduced['Charcount'].mean()/datareduced['Wordcount'].mean()
print(AVGcharword)

5.71728630698

In [19]:
datamerge.to_csv('NewItaloVectorsRELmerge.csv', encoding='utf-8',index=False)