In [40]:
import pandas as pd
import re
import io

In [41]:
data = pd.read_csv('/Users/halukamaier-borst/Documents/CardiffUniversity/Master Thesis/CorEA Corpus/CorEA-message-level_clean2.csv', sep='\t',quotechar="'", 
                  engine='python')
print(data.head(5))

   #0Mid     1Pid           2Pname    3type  4under  \
0  18006   170073           Jazz65  comment       4
1  18031  2410677  Lettore_2410677  comment       4
2  18086  3444552          ookuboo  comment       4
3  18087  9044923  Lettore_9044923  comment       4
4  18106  9049303  Lettore_9049303  comment       4

                         5manual-topics  \
0                  azienda  burocrazia
1                                   NaN
2                dirigenti  PD  Italia
3   burocrazia  servizi  posti  lavoro
4                                   NaN

                                               6text           7timestamp  \
0  Vanno fatti gli esempi, altrimenti sembra semp...  14/07/2013 09:09:42
1   La ragnatela del non fare e riscuotere mazzette.  14/07/2013 09:16:03
2  "concordo al 100% con questo articolo; Sig. Pa...  14/07/2013 09:31:19
3  fino a quando tutti i soggetti che vivono d'im...  14/07/2013 09:32:30
4  Tristemente soddisfatto giacche Ã¨ da tempo che...  14/07/2013 09:37:36

  8category 9refer-to-Pname       ...         16Pinterests 17Ptotal_views  \
0  politics             NaN       ...                    1              9
1  politics             NaN       ...                    0              0
2  politics             NaN       ...                    0              0
3  politics             NaN       ...                    0              0
4  politics             NaN       ...                    0              0

   18Ptotal_comments  19Ptotal_shares  20Ptotal_comments_votes 21Emo_indig  \
0                 53               32                       40           7
1                128                1                       44          28
2               2240                1                     2748          33
3                  6                0                        1          42
4                 11                0                        0          66

   22Emo_disapp  23Emo_worried  24Emo_amused  25Emo_satisfied
0            16             30            22               22
1            28             28            14                0
2             0              0            33               33
3            28              0            28                0
4             0              0             0               33

[5 rows x 26 columns]

In [42]:
dotcountlist=[]
commacountlist=[]
exclamationcountlist=[]
wordcountlist=[]
uppercasecountlist=[]
lowercasecountlist=[]
charcountlist=[]
specialcharlist=[]
numbercountlist=[]
uniquewordlist=[]
qmarkcountlist=[]
apicescountlist=[]
quotescountlist=[]
openparlist=[]
closeparlist=[]
operatorlist=[]
hashtagcountlist=[]
dottycountlist=[]
linkcountlist=[]
charperwordarray=[]

word1=[]
word2=[]
word3=[]
word4=[]
word5=[]
word6=[]
word7=[]
word8=[]
word9=[]
word10=[]
word11=[]
word12=[]
word13=[]
word14=[]
word15=[]
word16=[]
word17=[]
word18=[]
word19=[]
word20=[]
word21=[]
word22=[]
word23=[]
word24=[]

a=0
#for each cell in the text column of data

for cell in (data['6text']).head():
    
    a+=1
    dotcount=0
    commacount=0
    qmarkcount=0
    exclamationcount=0
    wordcount=0
    uppercasecount=0
    lowercasecount=0
    charcount=0
    lr_classifier=0
    specialchar=0
    numbercount=0
    cellwordlist=[]
    uniqueword=0
    qmarkcount=0
    apicescount=0
    quotescount=0
    openparcount=0
    closeparcount=0
    operatorcount=0
    hashtagcount=0
    dottycount=0
    linkcount=0


    dotcount=cell.count(".")
    commacount=cell.count(",")
    exclamationcount=cell.count("!")
    qmarkcount=cell.count("?")
    apicescount=cell.count("'")
    quotescount=cell.count('"')
    openparcount=cell.count('(')
    closeparcount=cell.count(')')
    hashtagcount=cell.count('#')

    
    if a>10000:
        break
    else:

        #for reach word in cell
        charperwordlist=[]
        for word in (cell.split()):
            if word in cellwordlist:
                continue
            else:
                cellwordlist.append(word)
                uniqueword+=1
            if re.search('\.\.\.',word):
                dottycount+=1
            if re.search('http',word):
                linkcount+=1
                
                
            wordcount+=1
            uppercaseword=word[1:]
            for c in uppercaseword:
                if c.istitle():
                    uppercasecount+=1
                    #print(word)
                    
            #print(word)
            charperword=0
            for char in word:
                charperword+=1
                charcount+=1
                if re.match("[^a-zA-Z0-9]", char):
                    specialchar+=1
                if re.match("[0-9]", char):
                    numbercount+=1
                if char.islower():
                    lowercasecount+=1
                if re.match("[\+\/\-\*\%\=<>&]", char):
                    operatorcount+=1
            #print(charperword)
            charperwordlist.append(charperword)
            #print(charperwordlist)
        
        word1.append(charperwordlist.count(1))
        word2.append(charperwordlist.count(2))
        word3.append(charperwordlist.count(3))
        word4.append(charperwordlist.count(4))
        word5.append(charperwordlist.count(5))
        word6.append(charperwordlist.count(6))
        word7.append(charperwordlist.count(7))
        word8.append(charperwordlist.count(8))
        word9.append(charperwordlist.count(9))
        word10.append(charperwordlist.count(10))
        word11.append(charperwordlist.count(11))
        word12.append(charperwordlist.count(12))
        word13.append(charperwordlist.count(13))
        word14.append(charperwordlist.count(14))
        word15.append(charperwordlist.count(15))
        word16.append(charperwordlist.count(16))
        word17.append(charperwordlist.count(17))
        word18.append(charperwordlist.count(18))
        word19.append(charperwordlist.count(19))
        word20.append(charperwordlist.count(20))
        word21.append(charperwordlist.count(21))
        word22.append(charperwordlist.count(22))
        word23.append(charperwordlist.count(23))
        word24.append(charperwordlist.count(24))
        #print(cell)
        #print("Dotcount: " + str((dotcount)))
        #print("Commacount: "+ str(commacount))
        #print("Exclamationcount: "+ str(exclamationcount))
        #print("Wordcount: "+ str(wordcount))
        #print("Uppercasecount "+ str(uppercasecount))
        #print("Charcount "+ str(charcount))
        dotcountlist.append(dotcount)
        commacountlist.append(commacount)
        exclamationcountlist.append(exclamationcount)
        wordcountlist.append(wordcount)
        uppercasecountlist.append(uppercasecount)
        lowercasecountlist.append(lowercasecount)
        charcountlist.append(charcount)
        specialcharlist.append(specialchar)
        numbercountlist.append(numbercount)
        uniquewordlist.append(uniqueword)
        qmarkcountlist.append(qmarkcount)
        apicescountlist.append(apicescount)
        quotescountlist.append(quotescount)
        openparlist.append(openparcount)
        closeparlist.append(closeparcount)
        operatorlist.append(operatorcount)
        hashtagcountlist.append(hashtagcount)
        dottycountlist.append(dottycount)
        linkcountlist.append(linkcount)

row1=pd.DataFrame()
row1["Dotcount"]=dotcountlist
row2=pd.DataFrame()
row2["Commacount"]=commacountlist
row3=pd.DataFrame()
row3["Exclcount"]=exclamationcountlist
row4=pd.DataFrame()
row4["Wordcount"]=wordcountlist
row5=pd.DataFrame()
row5["Uppercasecount"]=uppercasecountlist
row6=pd.DataFrame()
row6["Lowercasecount"]=lowercasecountlist
row7=pd.DataFrame()
row7["Specialchar"]=specialcharlist
row8=pd.DataFrame()
row8["Numbercount"]=numbercountlist
row9=pd.DataFrame()
row9["Charcount"]=charcountlist
row10=pd.DataFrame()
row10["Uniquewords"]=uniquewordlist
row11=pd.DataFrame()
row11["Qmarkcount"]=qmarkcountlist
row11=pd.DataFrame()
row11["Apicescount"]=apicescountlist
row12=pd.DataFrame()
row12["Quotescount"]=quotescountlist
row13=pd.DataFrame()
row13["Openpar"]=openparlist
row14=pd.DataFrame()
row14["Closepar"]=closeparlist
row15=pd.DataFrame()
row15["Operatorcount"]=operatorlist
row16=pd.DataFrame()
row16["Hashtagcount"]=hashtagcountlist
row17=pd.DataFrame()
row17["Dottycount"]=dottycountlist
row18=pd.DataFrame()
row18["Linkcount"]=linkcountlist

output=pd.concat([data, row1, row2, row3, row4, row5, row6, row7, row8, row9, row10, row11, row12, row13, row14, row15, row16, row17, row18],axis=1)
output.to_csv('ItaloStylo_raw.csv', encoding='utf-8')

In [43]:
output.head(5)

,#0Mid,1Pid,2Pname,3type,4under,5manual-topics,6text,7timestamp,8category,9refer-to-Pname,...,Charcount,Uniquewords,Apicescount,Quotescount,Openpar,Closepar,Operatorcount,Hashtagcount,Dottycount,Linkcount
0,18006,170073,Jazz65,comment,4,azienda burocrazia,"Vanno fatti gli esempi, altrimenti sembra semp...",14/07/2013 09:09:42,politics,NaN,...,440.0,80.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,18031,2410677,Lettore_2410677,comment,4,NaN,La ragnatela del non fare e riscuotere mazzette.,14/07/2013 09:16:03,politics,NaN,...,41.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,18086,3444552,ookuboo,comment,4,dirigenti PD Italia,"""concordo al 100% con questo articolo; Sig. Pa...",14/07/2013 09:31:19,politics,NaN,...,739.0,128.0,2.0,6.0,0.0,0.0,1.0,0.0,0.0,0.0
3,18087,9044923,Lettore_9044923,comment,4,burocrazia servizi posti lavoro,fino a quando tutti i soggetti che vivono d'im...,14/07/2013 09:32:30,politics,NaN,...,468.0,77.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0
4,18106,9049303,Lettore_9049303,comment,4,NaN,Tristemente soddisfatto giacche Ã¨ da tempo che...,14/07/2013 09:37:36,politics,NaN,...,111.0,21.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [44]:
rowpd1=pd.DataFrame()
rowpd1['word01']=word1
rowpd2=pd.DataFrame()
rowpd2['word02']=word2
rowpd3=pd.DataFrame()
rowpd3['word03']=word3
rowpd4=pd.DataFrame()
rowpd4['word04']=word4
rowpd5=pd.DataFrame()
rowpd5['word05']=word5
rowpd6=pd.DataFrame()
rowpd6['word06']=word6
rowpd7=pd.DataFrame()
rowpd7['word07']=word7
rowpd8=pd.DataFrame()
rowpd8['word08']=word8
rowpd9=pd.DataFrame()
rowpd9['word09']=word9
rowpd10=pd.DataFrame()
rowpd10['word10']=word10
rowpd11=pd.DataFrame()
rowpd11['word11']=word11
rowpd12=pd.DataFrame()
rowpd12['word12']=word12
rowpd13=pd.DataFrame()
rowpd13['word13']=word13
rowpd14=pd.DataFrame()
rowpd14['word14']=word14
rowpd15=pd.DataFrame()
rowpd15['word15']=word15
rowpd16=pd.DataFrame()
rowpd16['word16']=word16
rowpd17=pd.DataFrame()
rowpd17['word17']=word17
rowpd18=pd.DataFrame()
rowpd18['word18']=word18


output2=pd.concat([rowpd1, rowpd2, rowpd3, rowpd4, rowpd5, rowpd6, rowpd7, rowpd8, rowpd9, rowpd10, rowpd11, rowpd12, rowpd13, rowpd14, rowpd15, rowpd16, rowpd17, rowpd18],axis=1)
output2.to_csv('ItaloStylo_raw2.csv', encoding='utf-8')
output2.head()

,word01,word02,word03,word04,word05,word06,word07,word08,word09,word10,word11,word12,word13,word14,word15,word16,word17,word18
0,4,8,11,8,9,15,7,5,7,3,2,0,0,0,0,1,0,0
1,1,1,2,1,0,0,0,0,2,1,0,0,0,0,0,0,0,0
2,4,14,19,15,13,13,11,14,9,7,3,4,2,0,0,0,0,0
3,3,7,10,9,7,14,5,3,5,5,4,1,1,2,1,0,0,0
4,3,3,1,3,2,2,1,2,0,2,2,0,0,0,0,0,0,0

In [45]:
#data=pd.concat([output, output2],axis=1)
#data.head()

In [46]:
#data = pd.read_csv('/Users/halukamaier-borst/Documents/CardiffUniversity/Master Thesis/masterthesis_code/ItaloStylo_raw.csv',quotechar='"')
#print(data.head(5))

In [50]:
data=output
datareduced1=data.ix[:, 27:]
datareduced2=data.ix[:, 14]
datareduced=pd.concat([datareduced1,datareduced2],axis=1)
print(datareduced.head(5))
datareduced.to_csv('ItaloVectors.csv', encoding='utf-8',index=False)

   Commacount  Exclcount  Wordcount  Uppercasecount  Lowercasecount  \
0         9.0        0.0       80.0             0.0           422.0
1         0.0        0.0        8.0             0.0            39.0
2        16.0        0.0      128.0            10.0           680.0
3         2.0        0.0       77.0            22.0           425.0
4         1.0        1.0       21.0             0.0           103.0

   Specialchar  Numbercount  Charcount  Uniquewords  Apicescount  Quotescount  \
0         18.0          0.0      440.0         80.0          0.0          0.0
1          1.0          0.0       41.0          8.0          0.0          0.0
2         35.0          3.0      739.0        128.0          2.0          6.0
3         15.0          0.0      468.0         77.0          2.0          0.0
4          8.0          0.0      111.0         21.0          0.0          0.0

   Openpar  Closepar  Operatorcount  Hashtagcount  Dottycount  Linkcount  \
0      0.0       0.0            0.0           0.0         0.0        0.0
1      0.0       0.0            0.0           0.0         0.0        0.0
2      0.0       0.0            1.0           0.0         0.0        0.0
3      1.0       1.0            0.0           0.0         0.0        0.0
4      0.0       0.0            0.0           0.0         1.0        0.0

   14agree-disagree
0               NaN
1               1.0
2               1.0
3               1.0
4               1.0

In [51]:
datareduced.describe()

,Commacount,Exclcount,Wordcount,Uppercasecount,Lowercasecount,Specialchar,Numbercount,Charcount,Uniquewords,Apicescount,Quotescount,Openpar,Closepar,Operatorcount,Hashtagcount,Dottycount,Linkcount,14agree-disagree
count,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.0,5.000000,5.0,2157.000000
mean,5.60000,0.200000,62.800000,6.400000,333.800000,15.400000,0.600000,359.800000,62.800000,0.800000,1.200000,0.200000,0.200000,0.200000,0.0,0.200000,0.0,-0.100139
std,6.80441,0.447214,48.730894,9.736529,262.738844,12.778889,1.341641,285.248488,48.730894,1.095445,2.683282,0.447214,0.447214,0.447214,0.0,0.447214,0.0,0.940328
min,0.00000,0.000000,8.000000,0.000000,39.000000,1.000000,0.000000,41.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,-1.000000
25%,1.00000,0.000000,21.000000,0.000000,103.000000,8.000000,0.000000,111.000000,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,-1.000000
50%,2.00000,0.000000,77.000000,0.000000,422.000000,15.000000,0.000000,440.000000,77.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,0.000000
75%,9.00000,0.000000,80.000000,10.000000,425.000000,18.000000,0.000000,468.000000,80.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.0,1.000000
max,16.00000,1.000000,128.000000,22.000000,680.000000,35.000000,3.000000,739.000000,128.000000,2.000000,6.000000,1.000000,1.000000,1.000000,0.0,1.000000,0.0,1.000000

In [52]:
new_datareduced=datareduced['14agree-disagree']
c=0
limit=0
for column in datareduced:
    limit+=1
print(limit)
a=-1
for column in datareduced:
    lista=[]
    a+=1
    columnmean=((datareduced.ix[:, a]).mean())/datareduced['Charcount'].mean()
    print(column,":" ,columnmean)
    b=-1
    for index, row in datareduced.iterrows():
        b+=1
        columnval=(datareduced.ix[b, a])
        columnratio=columnval/datareduced.ix[b,8]
        columnREL=(columnratio/columnmean)
        lista.append(columnREL)
    c+=1
    print(c)
    if c>limit:
        print("STOP!")
        new_datareduced.to_csv('NewItaloVectorsREL.csv', encoding='utf-8',index=False)
        break
    else:
        column = pd.DataFrame({(column+"REL") : lista})
        #print(column)
        new_datareduced=pd.concat([ new_datareduced, column], axis=1)
        #print(datareduced)
print("STOP!")

18
Commacount : 0.0155642023346
1
Exclcount : 0.000555864369094
2
Wordcount : 0.174541411895
3
Uppercasecount : 0.017787659811
4
Lowercasecount : 0.927737632018
5
Specialchar : 0.0428015564202
6
Numbercount : 0.00166759310728
7
Charcount : 1.0
8
Uniquewords : 0.174541411895
9
Apicescount : 0.00222345747638
10
Quotescount : 0.00333518621456
11
Openpar : 0.000555864369094
12
Closepar : 0.000555864369094
13
Operatorcount : 0.000555864369094
14
Hashtagcount : 0.0

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:18: RuntimeWarning: invalid value encountered in double_scalars

15
Dottycount : 0.000555864369094
16
Linkcount : 0.0
17
14agree-disagree : -0.00027831873835
18
STOP!

In [53]:
new_datareduced.to_csv('NewItaloVectorsREL.csv', encoding='utf-8', index=False)

In [54]:
data=output2
data.head()

,word01,word02,word03,word04,word05,word06,word07,word08,word09,word10,word11,word12,word13,word14,word15,word16,word17,word18
0,4,8,11,8,9,15,7,5,7,3,2,0,0,0,0,1,0,0
1,1,1,2,1,0,0,0,0,2,1,0,0,0,0,0,0,0,0
2,4,14,19,15,13,13,11,14,9,7,3,4,2,0,0,0,0,0
3,3,7,10,9,7,14,5,3,5,5,4,1,1,2,1,0,0,0
4,3,3,1,3,2,2,1,2,0,2,2,0,0,0,0,0,0,0

In [55]:
AVGcharword=datareduced['Charcount'].mean()/datareduced['Wordcount'].mean()
print(AVGcharword)

5.72929936306

In [56]:
datareduced=data
new_datareduced=pd.DataFrame()
c=0
limit=0
for column in datareduced:
    limit+=1
print(limit)
a=-1
for column in datareduced:
    lista=[]
    a+=1
    columnmean=((datareduced.ix[:, a]).mean())/AVGcharword
    print(column,":" ,columnmean)
    b=-1
    for index, row in datareduced.iterrows():
        b+=1
        columnval=(datareduced.ix[b, a])
        columnratio=columnval/datareduced.ix[b,8]
        columnREL=(columnratio/columnmean)
        lista.append(columnREL)
    c+=1
    print(c)
    if c>limit:
        print("STOP!")
        break
    else:
        column = pd.DataFrame({(column+"REL") : lista})
        #print(column)
        new_datareduced=pd.concat([ new_datareduced, column], axis=1)
        #print(datareduced)
print("STOP!")

18
word01 : 0.523624235686
1
word02 : 1.15197331851
2
word03 : 1.5010561423
3
word04 : 1.25669816565
4
word05 : 1.08215675375
5
word06 : 1.53596442468
6
word07 : 0.837798777098
7
word08 : 0.837798777098
8
word09 : 0.802890494719
9
word10 : 0.628349082824
10
word11 : 0.38399110617
11
word12 : 0.174541411895
12
word13 : 0.104724847137
13
word14 : 0.0698165647582
14
word15 : 0.0349082823791
15
word16 : 0.0349082823791
16
word17 : 0.0
17
word18 : 0.0
18
STOP!

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:18: RuntimeWarning: divide by zero encountered in long_scalars
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:18: RuntimeWarning: invalid value encountered in long_scalars
/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/ipykernel/__main__.py:19: RuntimeWarning: invalid value encountered in double_scalars

In [57]:
new_datareduced.to_csv('NewItaloVectorsREL2.csv', encoding='utf-8',index=False)

In [58]:
new_datareduced.head()

,word01REL,word02REL,word03REL,word04REL,word05REL,word06REL,word07REL,word08REL,word09REL,word10REL,word11REL,word12REL,word13REL,word14REL,word15REL,word16REL,word17REL,word18REL
0,1.091295,0.992086,1.046882,0.909413,1.188104,1.395122,1.193604,0.852574,1.2455,0.682059,0.744065,0.000000,0.000000,0.000000,0.000000,4.092357,NaN,NaN
1,0.954883,0.434038,0.666198,0.397868,0.000000,0.000000,0.000000,0.000000,1.2455,0.795736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
2,0.848785,1.350340,1.406417,1.326227,1.334783,0.940415,1.458849,1.856717,1.2455,1.237812,0.868076,2.546355,2.121963,0.000000,0.000000,0.000000,NaN,NaN
3,1.145860,1.215306,1.332395,1.432325,1.293713,1.822959,1.193604,0.716162,1.2455,1.591472,2.083382,1.145860,1.909766,5.729299,5.729299,0.000000,NaN,NaN
4,inf,inf,inf,inf,inf,inf,inf,inf,NaN,inf,inf,NaN,NaN,NaN,NaN,NaN,NaN,NaN